<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Library — {{ title if title else 'Books' }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header class="header">
        <div class="container">
            <h1>Library Management (Demo)</h1>
            <nav>
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('add_book') }}">Add Book</a>
            </nav>
        </div>
    </header>


    <main class="container">
        {% block content %}{% endblock %}
    </main>


    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>